{% extends "layout.html" %}

{% block content %}

    <article>
        <label style="margin:40px">Сортировка по датам:</label>
        <a href="?sort=asc"><button>По возрастанию</button></a>
        <a href="?sort=down"><button>По убыванию</button></a>
        <table align="center">
            <thead>
                <tr>
                    <th>Название турнира</th>
                    <th>Дата</th>
                    <th>Победитель</th>
                    <th>Страна победителя</th>
                    <th>Проигравший</th>
                    <th>Страна проигравшего</th>
                    <th>Счет</th>
                </tr>
            </thead>

            <tbody>
                <form method="post">
                    <div>
                        <label style="margin:40px">Выберите название турнира:</label>
                        <select name="select_tourney_name" id="select_tourney_name" >
                            <option>Atp Cup</option>
							<option>Adelaide 1</option>
							<option>Melbourne</option>
							<option>Adelaide 2</option>
							<option>Sydney</option>
							<option>Australian Open</option>
							<option>Cordoba</option>
							<option>Montpellier</option>
							<option>Pune</option>
							<option>Buenos Aires</option>
							<option>Rotterdam</option>
							<option>Dallas</option>
							<option>Delray Beach</option>
							<option>Doha</option>
							<option>Rio de Janeiro</option>
							<option>Marseille</option>
							<option>Acapulco</option>
							<option>Dubai</option>
							<option>Santiago</option>
							<option>Indian Wells Masters</option>
							<option>Miami Masters</option>
							<option>Houston</option>
							<option>Marrakech</option>
							<option>Monte Carlo Masters</option>
							<option>Barcelona</option>
							<option>Belgrade</option>
							<option>Estoril</option>
							<option>Munich</option>
							<option>Madrid Masters</option>
							<option>Rome Masters</option>
							<option>Geneva</option>
							<option>Lyon</option>
							<option>Roland Garros</option>
							<option>s Hertogenbosch</option>
							<option>Stuttgart</option>
							<option>Halle</option>
							<option>Queens Club</option>
							<option>Mallorca</option>
							<option>Eastbourne</option>
							<option>Wimbledon</option>
							<option>Bastad</option>
							<option>Newport</option>
							<option>Hamburg</option>
							<option>Gstaad</option>
							<option>Atlanta</option>
							<option>Kitzbuhel</option>
							<option>Umag</option>
							<option>Los Cabos</option>
							<option>Washington</option>
							<option>Canada Masters</option>
							<option>Cincinnati Masters</option>
							<option>Winston-Salem</option>
							<option>Us Open</option>
							<option>San Diego</option>
							<option>Metz</option>
							<option>Laver Cup</option>
							<option>Seoul</option>
							<option>Sofia</option>
							<option>Tel Aviv</option>
							<option>Astana</option>
							<option>Tokyo</option>
							<option>Florence</option>
							<option>Gijon</option>
							<option>Naples</option>
							<option>Stockholm</option>
							<option>Antwerp</option>
							<option>Basel</option>
							<option>Vienna</option>
							<option>Paris Masters</option>
							<option>NextGen Finals</option>
							<option>Tour Finals</option>
							<option>Davis Cup Finals RR: ARG vs CRO</option>
							<option>Davis Cup Finals SF: AUS vs CRO</option>
							<option>Davis Cup Finals QF: AUS vs NED</option>
							<option>Davis Cup Finals F: CAN vs AUS</option>
							<option>Davis Cup Finals QF: CRO vs ESP</option>
							<option>Davis Cup Finals SF: ITA vs CAN</option>
							<option>Davis Cup Finals QF: ITA vs USA</option>
							<option>Davis Cup QLS R1: ARG vs CZE</option>
							<option>Davis Cup QLS R1: AUS vs HUN</option>
							<option>Davis Cup QLS R1: AUT vs KOR</option>
							<option>Davis Cup QLS R1: BEL vs FIN</option>
							<option>Davis Cup QLS R1: CAN vs NED</option>
							<option>Davis Cup QLS R1: ESP vs ROU</option>
							<option>Davis Cup QLS R1: FRA vs ECU</option>
							<option>Davis Cup QLS R1: GER vs BRA</option>
							<option>Davis Cup QLS R1: ITA vs SVK</option>
							<option>Davis Cup QLS R1: KAZ vs NOR</option>
							<option>Davis Cup QLS R1: SWE vs JPN</option>
							<option>Davis Cup QLS R1: USA vs COL</option>
							<option>Davis Cup WG1 R1: AUT vs PAK</option>
							<option>Davis Cup WG1 R1: BIH vs MEX</option>
							<option>Davis Cup WG1 R1: BRA vs POR</option>
							<option>Davis Cup WG1 R1: CHI vs PER</option>
							<option>Davis Cup WG1 R1: COL vs TUR</option>
							<option>Davis Cup WG1 R1: CZE vs ISR</option>
							<option>Davis Cup WG1 R1: ECU vs SUI</option>
							<option>Davis Cup WG1 R1: FIN vs NZL</option>
							<option>Davis Cup WG1 R1: HUN vs UKR</option>
							<option>Davis Cup WG1 R1: IND vs NOR</option>
							<option>Davis Cup WG1 R1: JPN vs UZB</option>
							<option>Davis Cup WG1 R1: SVK vs ROU</option>
							<option>Davis Cup WG1 PO: CHI vs SLO</option>
							<option>Davis Cup WG1 PO: IND vs DEN</option>
							<option>Davis Cup WG1 PO: PAK vs LTU</option>
							<option>Davis Cup WG1 PO: UZB vs TUR</option>
							<option>Davis Cup WG2 R1: BAR vs IRL</option>
							<option>Davis Cup WG2 R1: BOL vs THA</option>
							<option>Davis Cup WG2 R1: DEN vs ESA</option>
							<option>Davis Cup WG2 R1: DOM vs LAT</option>
							<option>Davis Cup WG2 R1: LBN vs MON</option>
							<option>Davis Cup WG2 R1: LTU vs EGY</option>
							<option>Davis Cup WG2 R1: POL vs INA</option>
							<option>Davis Cup WG2 R1: RSA vs BUL</option>
							<option>Davis Cup WG2 R1: SLO vs EST</option>
							<option>Davis Cup WG2 R1: TPE vs HKG</option>
							<option>Davis Cup WG2 R1: TUN vs GRE</option>
							<option>Davis Cup WG2 R1: URU vs CHN</option>
							<option>Davis Cup WG2 PO: EGY vs CYP</option>
							<option>Davis Cup WG2 PO: GRE vs JAM</option>
							<option>Davis Cup WG2 PO: HKG vs BEN</option>
                        </select>
                        <button type="submit" name="btn_tourney_name">Показать</button><br>
                    </div>
				</form>
				<form method="post">
					<div>
						<label style="margin:40px">Выберите имя победителя:</label>
						<select name="select_winner_name" id="select_winner_name">
							<option>Felix Auger Aliassime</option>
							<option>Denis Shapovalov</option>
							<option>Roberto Bautista Agut</option>
							<option>Pablo Carreno Busta</option>
							<option>Daniil Medvedev</option>
							<option>Casper Ruud</option>
							<option>Filip Krajinovic</option>
							<option>Cristian Garin</option>
							<option>Alejandro Tabilo</option>
							<option>Jannik Sinner</option>
							<option>Ugo Humbert</option>
							<option>Roman Safiullin</option>
							<option>Matteo Berrettini</option>
							<option>Alex De Minaur</option>
							<option>Alexander Zverev</option>
							<option>Daniel Evans</option>
							<option>Egor Gerasimov</option>
							<option>Soon Woo Kwon</option>
							<option>Steve Johnson</option>
							<option>Rafael Nadal</option>
							<option>Maxime Cressy</option>
							<option>Alex Molcan</option>
							<option>Tallon Griekspoor</option>
							<option>Thanasi Kokkinakis</option>
							<option>Aleksandar Vukic</option>
							<option>Aslan Karatsev</option>
							<option>Lorenzo Sonego</option>
							<option>Pedro Martinez</option>
							<option>Marin Cilic</option>
							<option>Joao Sousa</option>
						</select>
						<button type="submit" name="btn_winner_name">Показать</button><br>
					</div>
				</form>
				<form method="post">
					<div>
						<label style="margin:40px">Выберите имя проигравшего:</label>
						<select name="select_loser_name" id="select_loser_name">
						<option>Felix Auger Aliassime</option>
						<option>Denis Shapovalov</option>
						<option>Roberto Bautista Agut</option>
						<option>Pablo Carreno Busta</option>
						<option>Daniil Medvedev</option>
						<option>Casper Ruud</option>
						<option>Filip Krajinovic</option>
						<option>Cristian Garin</option>
						<option>Alejandro Tabilo</option>
						<option>Jannik Sinner</option>
						<option>Ugo Humbert</option>
						<option>Roman Safiullin</option>
						<option>Matteo Berrettini</option>
						<option>Alex De Minaur</option>
						<option>Alexander Zverev</option>
						<option>Daniel Evans</option>
						<option>Egor Gerasimov</option>
						<option>Soon Woo Kwon</option>
						<option>Steve Johnson</option>
						<option>Rafael Nadal</option>
						<option>Maxime Cressy</option>
						<option>Alex Molcan</option>
						<option>Tallon Griekspoor</option>
						<option>Thanasi Kokkinakis</option>
						<option>Aleksandar Vukic</option>
						<option>Aslan Karatsev</option>
						<option>Lorenzo Sonego</option>
						<option>Pedro Martinez</option>
						<option>Marin Cilic</option>
						<option>Joao Sousa</option>
					</select>
					<button type="submit" name="btn_loser_name">Показать</button><br>
					</div>
				</form>
				<form method="post">
					<div>
						<label style="margin:40px">Выберите страну:</label>
					<select name="select_country" id="select_country">
						<option>CAN</option>
						<option>ESP	</option>
						<option>RUS</option>
						<option>SRB</option>
						<option>ITA</option>
						<option>FRA</option>
						<option>AUS</option>
						<option>GER</option>
						<option>USA</option>
						<option>POL</option>
						<option>SWE</option>
						<option>JPN</option>
						<option>KOR</option>
						<option>CHI</option>
						<option>FIN</option>
						<option>BUL</option>
						<option>SVK</option>
						<option>ARG</option>
						<option>BRA</option>
						<option>COL</option>
						<option>KAZ</option>
						<option>PAK</option>
						<option>CZE</option>
						<option>NOR</option>
						<option>GRE</option>
						<option>BEL</option>
						<option>SLO</option>
						<option>POR</option>
						<option>IND</option>
						<option>ROU</option>
						<option>LTU</option>
						<option>BAR</option>
						<option>TUR</option>
						<option>IRL</option>
						<option>THA</option>
						<option>ESA</option>
						<option>DEN</option>
						<option>DOM</option>
						<option>CYP</option>
						<option>EGY</option>
						<option>UKR</option>
						<option>LBN</option>
					</select>
					<button type="submit" name="btn_country">Показать</button><br>
					</div>
                </form>
            {% for row in processed_data %}
                <tr>
                    <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                    <td>{{row[6]}}</td>
                    <td>{{row[9]}}</td>
                    <td>{{row[12]}}</td>
                    <td>{{row[15]}}</td>
                    <td>{{row[17]}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </article>

{% endblock %}